.panel-news_article {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 15px;
}

.panel-news_article title {
    font-weight: bold;
}

.panel-news_article .meta {
    color: #C0C0C0;
}