.panel-news_article {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 15px;
}

.panel-news_article title {
    font-weight: bold;
    position:relative;
}
.panel-news_article span {
  margin-right:15px;
}

.panel-news_article .meta {
    color: #C0C0C0;
}

.panel-news_article .label.new {
  background-color: #00a256;
}

.panel-news_article .label {
  position: absolute;
  z-index: 3;
  top: 0;
  margin-left: 10px;
  padding: 0 4px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 8px;
  border-radius: 2px;
  height: 12px;
  line-height: 12px;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  background-color: #00a256;
  text-transform: uppercase;
}