.panel-news_article {
    /* background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
    padding: 15px;
    margin: 20px 0;
}
.panel-news_article:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}

.panel-news_article title {
    font-weight: bold;
    margin-bottom:16px;
}
.panel-news_article title:hover {
    text-decoration: hover
}
.panel-news_article .news-title {
  position:relative;
  font-size:1.375rem;
  margin-top: 0;
  color: #1f1f1f;
  margin-bottom:0;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.panel-news_article span {
  margin-right:15px;
}

.panel-news_article .meta {
    color: #bbbbbb;
    font-weight: bold;
}
.panel-news_article .meta a{
  opacity:.6;
}
.panel-news_article .meta a:hover{
  opacity:1;
}
.summary-link {
  color:#00a256;
  text-decoration: underline;
}
.summary-link:hover {
  color:black;
}
.summary {
  opacity: 1;
  max-height: 999px;
  transition: opacity .5s, max-height .5s;
}
.summary p {
  margin-bottom:10px;
}
.display-block {
  opacity: 1;
  max-height: 999px;
  transition: opacity .5s, max-height .5s;
}
.display-none {
  opacity: 0;
  max-height: 0px;
  transition: opacity .5s, max-height .5s;
  margin:0;
  display: none;
}
.panel-news_article .label.new {
  background-color: #00a256;
}

.panel-news_article .label.new {
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 0px;
  padding: 0 4px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 8px;
  border-radius: 2px;
  height: 12px;
  line-height: 12px;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  background-color: #00a256;
  text-transform: uppercase;
}